$ft_color: #5f9fdc;
$bor_color: #12214b;
.rowAddPlanListBox {
  position: relative;
  float: left;
  top: 10px;
  max-width: 78%;
  height: 50px;
  padding: 0 170px 0 120px;
  overflow: hidden;
  .planListWrapper {
    height: 100%;
    max-width: 900px;
    margin-left: 10px;
    overflow: hidden;
    .planLists {
      position: relative;
      display: flex;
      height: 100%;
      align-items: center;
      transition: all ease 0.2s;
      .planItems {
        position: relative;
        width: 140px;
        height: 30px;
        padding-right: 20px;
        margin-right: 10px;
        border: 1px solid #12214b;
        color: $ft_color;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        .closeBtn {
          position: absolute;
          width: 15px;
          height: 15px;
          right: 5px;
          top: 3px;
          cursor: pointer;
        }
        .rowVideo {
          position: absolute;
          width: 15px;
          height: 15px;
          right: 24px;
          top: 7px;
          cursor: pointer;
          background: url(../AddPlanList/video.png) center center no-repeat;
          background-size: 100% 100%;
        }
        :global(.ant-select-selection) {
          width: 90px;
          background-color: transparent;
          color: $ft_color;
          border: none;
          box-shadow: none;
        }
      }
    }
  }
  .addPlanBtn {
    position: absolute;
    right: 50px;
    top: 9px;
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $bor_color;
    color: $ft_color;
    cursor: pointer;
  }
  .moveLeftBtn {
    position: absolute;
    left: 90px;
    top: 10px;
    width: 30px;
    height: 28px;
    border: 1px solid $bor_color;
    border-radius: 4px;
    text-align: center;
    line-height: 26px;
    color: #fff;
    cursor: pointer;
  }
  .moveRightBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 28px;
    border: 1px solid $bor_color;
    border-radius: 4px;
    text-align: center;
    line-height: 26px;
    color: #fff;
    cursor: pointer;
  }
}
