
.planBtn {
  position: relative;
  width: 120px;
  height: 30px;
  padding-right: 20px;
  margin-bottom: 10px;
  // background: url(./planBtn.png) center center no-repeat;
  // background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: #193364;
  .planName {
    position: absolute;
    top: 0;
    left: 10px;
    width: 90px;
    height: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    color: #539BD6;
  }
  .planNameBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    opacity: .8;
    cursor: pointer;
  }
  .closeBtn {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 5px;
    top: 5px;
    cursor: pointer;
    color: #539BD6;
  }
}
.addPlanBtn {
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #193364;
  color: #539BD6;
  cursor: pointer;
}
.planBtnChecked {
  background-color: #0673B6;
  .planName, .closeBtn {
    color: #23D1F3;
  }
}