$fontColor: #5BBDFF;
$numColor: #FEFCFA;
$borColor: #3C72A3;
$gradientB: linear-gradient(to bottom, rgba(26, 66, 112, .9), rgba(19, 42, 83, .9));
$gradient: linear-gradient(to right, rgba(19, 42, 83, .9), rgba(26, 66, 112, .9));

@keyframes playGo {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
.flowWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: url(../../img/flowBg.png) center center no-repeat;
  // background-size: cover;
  background-color: #0D1B42;
  .getFLowPlay {
    z-index: 2;
    position: fixed;
    bottom: 10px;
    left: 40px;
    width: 50%;
    height: 160px;
    font-size: 14px;
    .flowTimeBox {
      height: 125px;
      background: url(../../img/time_bg.png) center center no-repeat;
      background-size: 100% 100%;
      .timeBox{
        display: flex;
        height:50px;
        padding:30px;
        background:rgba(62,56,68,.3);
        position: absolute;
        top:50px;
        right:30px;
        left:30px;
        display: flex;
        justify-content: center;
        user-select: none;
        box-sizing: content-box;
        mark{
          // padding:5px 15px;
          position: absolute;
          right: -15px;
          top: -45px;
          font-weight: bold;
          border-radius: 2px;
          font-size:0px;
          cursor: pointer;
          height: 20px;
          width:20px;
          background: url(../../img/play.png) no-repeat;
          background-size: 100% 100%;
          i{
            width:40px;
            height:40px;
            display: block;
            position: absolute;
            top:-10px;
            left:-10px;
            background:url(../../img/timeBtnHover.png) no-repeat;
            background-size: 100% 100%;
            animation: playGo 3s linear infinite;
            // animation: playGo 3s linear infinite;
            &:hover{
              background:url(../../img/timeBtnHover.png) no-repeat;
              background-size: 100% 100%;
              animation: unset;
              // animation: unset;
            }
          }
        }
        .btnSuspend{
          background: url(../../img/suspend.png) no-repeat;
          background-size: 100% 100%;
          i{
            width:40px;
            height:40px;
            display: block;
            position: absolute;
            top:-10px;
            left:-10px;
            background:url(../../img/timeBtnHover.png) no-repeat;
            background-size: 100% 100%;
            animation: playGo 3s linear infinite;
            animation: playGo 3s linear infinite;
            &:hover{
              background:url(../../img/timeBtnHover.png) no-repeat;
              background-size: 100% 100%;
              animation: unset;
              // animation: unset;
            }
          }
        }
        
        em{
          height:100%;
          width:0;
          border-right:1px #b63d5d solid;
          position: absolute;
          top:0;
          left:30px;
          z-index: 2;
          transition:all 1s;
          transition-timing-function: linear;
        }
        em > i{
          display: inline-block;
          height:30%;
          width:16px;
          border-radius: 2px;
          background:#dedede;
          position: absolute;
          top:35%;
          left:-8px;
          // border-radius: 2px;
          // -moz-border-radius: 2px;
          // -ms-border-radius: 2px;
          // -o-border-radius: 2px;
        }
            /* 横向效果style */
        .stepGapHor{
          display: inline-block;
          height:10%;
          position: relative;
          top:40%;
        }
        .horStepGap{
          display: inline-block;
          height:30%;
          position: relative;
          top:35%;
        }
        .horStepGapBig{
          display: inline-block;
          height:100%;
          justify-content: stretch;
          position: relative;
        }
        .horStepGapBig time{
          position: absolute;
          left:0;
          bottom:0;
          transform: translate(-50%,120%);
          font-size:12px;
          color:#debdc2;
        }
      }
    }
    .flowDate {
      height: 40px;
      display: flex;
      align-items: center;
      color: $fontColor;
      :global(.ant-select-selection) {
        width: 100px;
        height: 30px;
        background-color: transparent;
        color: $numColor;
        border-color: #1D305B;
        outline: none;
      }
      :global(.ant-select-arrow) {
        color: $numColor;
      }
    }
    .flowPlay {
      position: relative;
      height: 120px;
      background: url(../Singal/imgs/addBg.png) center center no-repeat;
      background-size: 100% 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      .flowPlayBtn {
        position: absolute;
        top: -30px;
        right: 5px;
        width: 30px;
        height: 30px;
        background: url(./imgs/playBg.svg) center center no-repeat;
        background-size: 30px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        color: #00f1ff;
      }
      .flowTimeBox {
        width: 98%;
        height: 100px;
        margin-top: 5px;
        background: url(./imgs//time_img.png) center center no-repeat;
        background-size: 100% 100px;
      }
    }
  }
  .crossingItem{
    width:110px;
    height:110px;
    position: absolute;
    left: 40px;
    top: 30%;
    transform: translate(-50%,-50%);
    z-index: 8;
  }
  .container{
    width:600px;
    height:600px;
    position: fixed;
    left: 580px;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 8;
  }
  .flowBox {
    position: fixed;
    top: 110px;
    left: 0;
    width: 100%;
    height: calc(100% - 110px);
    .flowGetDate {
      padding-left: 40px;
      font-size: 15px;
      color: $fontColor;
      :global(.ant-calendar-picker-input) {
        padding-left: 20px;
        background-color: transparent;
        // background: url(./imgs/planBtn.png) center center no-repeat;
        // background-size: 100% 100%;
        border: 1px solid #1D305B;
        color: $numColor;
      }
      :global(.ant-time-picker-input) {
        padding-left: 20px;
        background-color: transparent;
        // background: url(./imgs/planBtn.png) center center no-repeat;
        // background-size: 100% 100%;
        border: 1px solid #1D305B;
        color: $numColor;
      }
      :global(.ant-calendar-picker i) {
        color: #fff;
      }
      .flowGetTime {
        :global(.ant-calendar-picker-input) {
          width: 130px;
        }
      }
      :global(.ant-select-selection--single){
        // background: url(./imgs/planBtn.png) center center no-repeat;
        // background-size: 100% 100%;
        border: 1px solid #1D305B;
        color: $numColor;
        outline: none;
        box-shadow: none;
        background-color: transparent;
      }
      :global(.ant-select-selection__rendered) {
        width: 70px;
        background-color: transparent;
        color: $numColor;
      }
      :global(.ant-select-arrow) {
        color: #fff;
      }
    }
    .planListBox {
      position: absolute;
      bottom: 170px;
      left: 35px;
      width: 120px;
      height: calc(100% - 230px);
      overflow-y: auto;
    }
    .roadFlowWrapper {
      position: absolute;
      width: calc(100% - 1100px);
      height: 100%;
      right: 30px;
      bottom: 0;
      // background: url(./imgs/simulatRoad.png) center center no-repeat;
      // background-size: 100% 100%;
      background-color: #12244C;
      .roadBtnBox {
        height: 30px;
        display: flex;
        position: relative;
        .checkedBaseRate {
          position: absolute;
          right: 30px;
          bottom: 3px;
          color: #fff;
          :global(.ant-checkbox-inner) {
            background-color: transparent;
            border-color: #1e43ab;
          }
          .baseRateInput {
            width: 60px;
            height: 24px;
            background-color: transparent;
            color: #22f4ad;
            border: 1px solid #1e43ab;
            border-radius: 3px;
            outline: none;
            padding-left: 5px;
            margin: 0 5px;
          }
        }
        .roadBtn {
          width: 90px;
          height: 30px;
          // margin-left: 20px;
          // background: url(./imgs/headerClick.png) center center no-repeat;
          // background-size: 100% 100%;
          color: $fontColor;
          font-size: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
        .activeBtn {
          background-color: #1E3A6C;
          color: $numColor;
        }
      }
      .exportFlowBox {
        display: flex;
        padding: 10px 0;
        background-image: $gradientB;
        .roadMsg {
          flex: 0 225px;
          padding-left: 25px;
          font-size: 14px;
          color: $fontColor;
          .roadDetaction {
            display: flex;
            height: 40px;
            align-items: center;
          }
          .roadName {
            display: flex;
            height: 40px;
            align-items: center;
            .name {
              letter-spacing: 4px;
            }
            .nameText {
              display: inline-block;
              width: 125px;
              height: 32px;
              text-align: center;
              line-height: 32px;
              // background: url(./imgs/planBtn.png) center center no-repeat;
              // background-size: 125px 32px;
              border: 1px solid $borColor;
              color: $numColor;
            }
          }
          :global(.ant-select-selection--single){
            margin-left: 1px;
            background-color: transparent;
            border: 1px solid $borColor;
            border-radius: 0;
            outline: none;
            box-shadow: none;
          }
          :global(.ant-select-selection__rendered) {
            display: flex;
            justify-content: center;
            width: 88px;
            background-color: transparent;
            color: $numColor;
          }
          :global(.ant-select-arrow) {
            color: #fff;
          }
        }
        .flowExport {
          position: relative;
          flex: 1;
          display: flex;
          padding-left: 20px;
          align-items: center;
          // background: url(./imgs/flowBorder.png) center center no-repeat;
          // background-size: 95% 80px;
          .exportText {
            flex: 0 80px;
            height: 75px;
            text-align: center;
            line-height: 75px;
            background-color: #214275;
            font-size: 14px;
            color: $fontColor;
          }
          .exportWay {
            flex: 1;
            padding-left: 10px;
            .systemAutoBox {
              display: flex;
              height: 40px;
              align-items: center;
              font-size: 14px;
              color: $fontColor;
              .systemAuto {
                width: calc(100% - 100px);
                height: 26px;
                border: 1px solid $borColor;
                text-align: center;
                line-height: 26px;
                color: #346290;
              }
            }
            .temExport {
              display: flex;
              height: 40px;
              align-items: center;
              font-size: 14px;
              color: $fontColor;
              .templateSel {
                position: relative;
                width: calc(100% - 100px);
                height: 26px;
                padding-right: 101px;
                line-height: 26px;
                border: 1px solid $borColor;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                text-indent: 5px;
                color: $fontColor;
                .importText {
                  position: absolute;
                  top: 0;
                  right: 0;
                  width: 50px;
                  height: 100%;
                  line-height: 26px;
                  text-align: center;
                  color: $fontColor;
                  cursor: pointer;
                }
                .browseText {
                  position: absolute;
                  top: 0;
                  right: 50px;
                  width: 50px;
                  height: 100%;
                  text-align: center;
                  line-height: 26px;
                  border-left: 1px solid $borColor;
                  border-right: 1px solid $borColor;
                  cursor: pointer;
                  overflow: hidden;
                  .uploadExcel {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                  }
                }
              }
            }
          }
        }
      }
      .importFlowMsg {
        height: calc(100% - 130px);
        font-size: 14px;
        color: #fff;
        .title {
          height: 40px;
          line-height: 40px;
          // background: url(./imgs/titleBg.svg) center center no-repeat;
          // background-size: contain;
          text-indent: 30px;
          font-size: 15px;
          color: $fontColor;
        }
        .roadMsgBox {
          height: calc(100% - 40px);
          background-image: $gradientB;
          overflow: auto;
          .roadMsg {
            display: flex;
            // padding-right: 10px;
            margin-bottom: 10px;
            &:first-child {
              margin-bottom: 0;
            }
            .detactionBox {
              flex: 1;
              .mutipleBox {
                display: flex;
                height: 55px;
                margin-bottom: 5px;
                align-items: center;
                background: url(./imgs/roadBorder.png) center center no-repeat;
                background-size: 100% 55px;
                div {
                  width: 120px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
              .heade {
                display: flex;
                height: 30px;
                align-items: center;
                // background: url(./imgs/rectBorder.png) center center no-repeat;
                // background-size: 100% 30px;
                div {
                  width: 120px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border: none;
                }
                div:first-child {
                  // flex: 0 120px;
                  position: relative;
                  .checkBox {
                    width: 14px;
                    height: 14px;
                    border: 1px solid #146A98;
                    border-radius: 50%;
                    margin-right: 3px;
                    cursor: pointer;
                  }
                  .addLessBtn {
                    width: 12px;
                    height: 12px;
                    margin-left: 2px;
                    background-color: #63BEFE;
                    text-align: center;
                    line-height: 10px;
                    border-radius: 3px;
                    cursor: pointer;
                  }
                }
              }
              .heade:nth-child(2n) {
                background-color: #1B3864;
              }
              .heade:nth-child(2n-1) {
                background-color: #1B2F54;
              }
            }
            .roadLane {
              padding: 0 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #264274;
              border-bottom: 1px solid #1B335F;
              .roadNameBox {
                width: 85px;
                height: 30px;
                // background: url(./imgs/planBtn.png) center center no-repeat;
                // background-size: 85px 30px;
                text-align: center;
                line-height: 30px;
                
                color: $fontColor;
              }
            }
            .details {
              flex: 1;
              display: flex;
              height: 60px;
              background: url(./imgs/roadBorder.png) center center no-repeat;
              background-size: 100% 60px;
              align-items: center;
              div {
                flex: 1;
                display: flex;
                justify-content: center;
              }
              div:first-child {
                flex: 0 100px;
              }
            }
          }
        }
        .loadingTipBox {
          width: 100%;
          height: 300px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}