.InputLabelBox {
  position: relative;
  width: 130px;
  height: 30px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #3D79AA;
  .textBox {
    display: inline-block;
    min-width: 0px;
    padding-right: 5px;
    border: none;
    outline: none;
    background-color: transparent;
  }
}