.header {
  width: calc(100% - 49px);
  height: 100px;
  position: fixed;
  top: 10px;
  left: 25px;
  background: url(../imgs/header.png) center center no-repeat;
  background-size: contain;
  > div {
    display: inline-block;
  }
  .header_left {
    width: 17%;
    height: 35px;
    background: url(../../Header/img/header_left.png) center center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 30px;
    left: 6%;
    color: #04ecff;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
  }
}

.evaluateWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../img/flowBg.png) center center no-repeat;
  background-size: cover;
  .rowaddlist {
    position: relative;
    top: 95px;
    left: 30px;
  }
  .header_center {
    position: absolute;
    top: 32px;
    left: 24%;
    .hdcenter {
      display: flex;
      justify-content: center;
      align-items: center;
      > .essential {
        flex: 1;
        color: #303e58;
        font-size: 14px;
        > span,
        p {
          width: 90px;
          height: 30px;
          display: inline-block;
          text-align: center;
          line-height: 30px;
          font-size: 13px;
          cursor: pointer;
        }
        > p {
          color: #ffffff;
        }
        > i,
        em {
          display: inline-block;
          width: calc(100% - 90px);
          height: 10px;
          box-sizing: border-box;
          background: url(../../Header/img/flow_arr.png) center center no-repeat;
        }
        > em {
          background: none;
        }
        &:nth-child(1) {
          > span {
            color: #ffffff;
          }
        }
      }
      .schedule {
        span {
          background: url(../../img/headerClick.png) center center no-repeat;
          background-size: 100% 100%;
          color: #04ecff !important;
          font-weight: bold;
        }
        i {
          background: url(../../Header/img/flow_arrClick.png) center center no-repeat;
        }
        & + div {
          > span {
            color: #ffffff;
          }
        }
      }
      // AnalysisHeader styles
      .itemDiv {
        padding: 9px 10px 9px 5px;
        color: #07eeff;
        font-size: 14px;
        .selectItem {
          :global(.ant-select) {
            width: 130px;
          }
          :global(.ant-select-selection--single) {
            border: none;
            background: url(../../img/flowBorder.png) center center no-repeat;
            background-size: 100% 100%;
            outline: none;
            box-shadow: none;
            font-size: 12px;
          }
          :global(.ant-select-selection__rendered) {
            width: 70px;
            background-color: transparent;
            color: #22f4ad;
          }
          :global(.ant-select-arrow) {
            color: #fff;
          }
        }
      }
      .itemBox {
        display: flex;
        justify-content: center;
        span {
          display: inline-block;
        }
        .flowGetDate {
          font-size: 14px;
          color: #07eeff;
          :global(.ant-calendar-picker-input) {
            padding-left: 10px;
            background-color: transparent;
            background: url(../../img/flowBorder.png) center center no-repeat;
            background-size: 100% 100%;
            color: #22f4ad;
            border: none;
          }
          :global(.ant-calendar-picker i) {
            color: #fff;
          }
          .flowGetTime {
            :global(.ant-calendar-picker-input) {
              width: 120px;
            }
            :global(.ant-time-picker) {
              background: url(../../img/flowBorder.png) center center no-repeat;
              background-size: 100% 100%;
            }
            :global(.ant-time-picker-input) {
              color: #22f4ad;
              border: none;
              background-color: transparent;
              cursor: auto;
            }
          }
          :global(.ant-select-selection--single) {
            border: none;
            background: url(../../img/flowBorder.png) center center no-repeat;
            background-size: 100% 100%;
            outline: none;
            box-shadow: none;
          }
          :global(.ant-select-selection__rendered) {
            width: 70px;
            background-color: transparent;
            color: #22f4ad;
          }
          :global(.ant-select-arrow) {
            color: #fff;
          }
        }
        :global(.ant-radio-group label) {
          position: relative;
          top: 5px;
        }
      }
      // RoadHeader styles
      .itemDir {
        padding: 8px 10px;
        color: #07eeff;
        font-size: 14px;
        .selectItem {
          :global(.ant-select) {
            width: 360px;
          }
          :global(.ant-select-selection--multiple) {
            background: url(../../img/flowBorder.png) center center no-repeat;
            background-size: 100% 100%;
            border: none;
            outline: none;
            box-shadow: none;
          }
          :global(.ant-select-selection__rendered) {
            background-color: transparent;
            color: #22f4ad;
            font-size: 12px;
            padding: 3px 0 0 8px;
            margin-right: 0;
          }
          :global(.ant-select-selection--multiple .ant-select-selection__choice) {
            background: transparent;
            border: unset;
            color: #22f4ad;
            margin-right: 0;
            padding-left: 3px;
            i > svg {
              color: #fff;
              border: 1px blue solid;
              border-radius: 4px;
              padding: 2px;
              font-size: 18px;
              position: relative;
              left: 4px;
              top: 2px;
            }
          }
          :global(.ant-select-selection__placeholder) {
            left: 5px;
          }
        }
      }
      .itemTurn {
        padding: 0 10px 0;
        position: relative;
        color: #07eeff;
        font-size: 14px;
        .selectItem {
          :global(.ant-select) {
            width: 210px;
          }
          :global(.ant-select-selection--multiple) {
            background: url(../../img/flowBorder.png) center center no-repeat;
            background-size: 100% 100%;
            border: none;
            outline: none;
            box-shadow: none;
          }
          :global(.ant-select-selection__rendered) {
            background-color: transparent;
            color: #22f4ad;
            font-size: 12px;
            padding: 3px 0 0 8px;
            margin-right: 0;
          }
          :global(.ant-select-selection--multiple .ant-select-selection__choice) {
            background: transparent;
            border: unset;
            color: #22f4ad;
            margin-right: 0;
            padding-left: 3px;
            i > svg {
              color: #fff;
              border: 1px blue solid;
              border-radius: 4px;
              padding: 2px;
              font-size: 18px;
              position: relative;
              left: 4px;
              top: 2px;
            }
          }
        }
      }
    }
  }
  .chartsWrapper {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 140px);
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: auto;
    .chartsBox {
      position: relative;
      width: 33%;
      height: 34%;
      padding-top: 25px;
      background: url(../../img/echarts_bg.png) center center no-repeat;
      background-size: 100% 100%;
      .titleBox {
        position: absolute;
        top: 28px;
        left: 5px;
      }
      .exportBtn {
        position: absolute;
        right: 20px;
        top: 30px;
        width: 80px;
        height: 26px;
        text-align: center;
        line-height: 26px;
        background: url(../../img/smallBtnBg.png) center center no-repeat;
        background-size: 100% 100%;
        font-size: 14px;
        color: #ff8800;
        letter-spacing: 5px;
        text-indent: 5px;
        cursor: pointer;
        z-index: 999999;
        &:hover {
          /* transition: all 0.3s; */
          background: url(../../img/headerClick.png) center center no-repeat;
          background-size: 100% 100%;
        }
      }
    }
  }
}
.inquire {
  width: 90px;
  height: 30px;
  background: url(../../img/smallBtnBg.png) center center no-repeat;
  line-height: 30px;
  background-size: 100% 100%;
  text-align: center;
  position: absolute;
  right: 80px;
  top: 100px;
  color: #ff8800;
  cursor: pointer;
  &:hover {
    /* transition: all 0.3s; */
    background: url(../../img/headerClick.png) center center no-repeat;
    background-size: 100% 100%;
  }
}

.scrollBox::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}

.scrollBox::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 234, 255, 0.2);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 234, 255, 0.2);
  background: #00eaff;
}

.scrollBox::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 234, 255, 0.2);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 234, 255, 0.2);
  border-radius: 10px;
  background: #1d67ac;
}

:global(.ant-select-dropdown) {
  text-align: center;
}
:global(.ant-select-dropdown-menu) {
  background: url(../../img/selectBg.png) center center no-repeat;
  background-size: 100% 100%;
  padding: 3px 4px;
}
:global(.ant-select-dropdown-menu-item-selected) {
  background: url(../../img/optionBg.png) center center no-repeat;
  background-size: 100% 100%;
  color: #07b7f2;
}
:global(.ant-select-dropdown li) {
  color: #ffffff;
}
:global(.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled)) {
  background: url(../../img/optionBg.png) center center no-repeat;
  background-size: 100% 100%;
  color: #07b7f2;
}
:global(.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled)) {
  background: url(../../img/optionBg.png) center center no-repeat;
  background-size: 100% 100%;
  color: #07b7f2;
}
.chartsBox {
  position: relative;
  width: 33%;
  height: 34%;
  padding-top: 25px;
  background: url(../../img/echarts_bg.png) center center no-repeat;
  background-size: 100% 100%;
  .titleBox {
    position: absolute;
    top: 28px;
    left: 5px;
  }
  .exportBtn {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 80px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    background: url(../../img/smallBtnBg.png) center center no-repeat;
    background-size: 100% 100%;
    font-size: 14px;
    color: #ff8800;
    letter-spacing: 5px;
    text-indent: 5px;
    cursor: pointer;
    z-index: 999999;
    &:hover {
      /* transition: all 0.3s; */
      background: url(../../img/headerClick.png) center center no-repeat;
      background-size: 100% 100%;
    }
  }
}
.Search {
  position: absolute;
  right: 5px;
  top: 2px;
  cursor: pointer;
}
.Search_i {
  color: #00ccff;
  &:hover {
    color: #ff8800;
  }
}
.chartsSearch {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999999;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../img/eacherBoxBg.png) center center no-repeat;
  background-size: 100% 100%;
}
.chartsBoxBg {
  background: url(../../img/eacherBg.png) center center no-repeat;
  background-size: 100% 100%;
  width: 66%;
  height: 68%;
  padding-top: 38px;
}
.titleBoxBg {
  top: 42px !important;
}
.SearchBg {
  right: 5px;
  top: 5px;
  font-size: 15px;
}
.NullBox{
  position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 40px;
    color:#04ecff;
}